@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
h2 {
  font-size: 2rem;
  text-align: center;
  color: #000;
  margin-top: 0.5rem;
}
.form-control {
  display: flex;
  justify-content: center;
}
.text-input {
  flex-grow: 1;
  padding: 5px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 18px;
}
.text-input:focus {
  outline: none;
}
.submit-btn {
  background: green;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
  border: transparent;
}
