@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
header {
  min-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.25rem;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  align-items: center;
}
.top-logo:hover {
  background-image: linear-gradient(to right, #e0e0e0, #e0e0e0 50%, #313131 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.8s ease-out;
}

.logo span {
  font-size: 1.5rem;

  margin-left: 0.5rem;
  cursor: pointer;
}
.theme-container span {
  font-size: 1.25rem;
  margin-bottom: 6.25rem;
  cursor: pointer;
  margin-left: 0.625rem;
}

.toggle {
  font-size: 3.5rem;
  margin-right: 1.25rem;
}
